* {
    box-sizing: border-box;
}

body {
    margin: remove;
    padding: remove;
}

main {
    padding: 16px;
}

footer {
    padding-top: 24px;
    padding-bottom: 24;
    padding-left: 0px;
    padding-right: 0px;
}

img {
    height: 200px;
}

nav {
    border-bottom: 1px rgb(7, 6, 6);
    padding: 16px;
}

h1 {
    color: green;
}

a {
    color: darkgreen;
}

footer {
    padding: 16px 16px 16px 16px;
    background-color: rgb(218, 131, 0);
    font-weight: bold;
}

a {
    text-decoration: none;
}

nav {
    background-color: rgb(250, 166, 11);
}

tr:nth-child(even) {
    background-color: rgb(158, 152, 152);
}
#my-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
